.banner {
    padding-top: 140px;
    font-size: 70px;
    font-weight: bolder;
  }
    .centeres {
      position: absolute;
      top: 372%;
      left: 46%;
      right: 5%;
      transform: translate(-40%, -40%);
  }
  
  
  
  
  /* margin-left: -50px;
  margin-right: 107px; */
  .centeredd {
    position: absolute;
    top: 78%;
    left: 80%;
    transform: translate(-40%, -40%);
  }
  
  .search{
    position: relative;
    margin-left: 73px;
    margin-right: 70px;
   
  }
   .search .searchBar{
    height: 51%;
    padding: 33px;
    border-radius: 20px;
   }
  
  @media(max-width:767px) {
    .centeres {
      position: relative;
      left: 40%;
      top: -250px;
    }
  
    .centeredd {
      position: relative;
      top: -58px;
      margin-left: -272px;
      transform: translate(-40%, -40%);
    }
 
    .centeres .centeredd {
      margin-top: 21px;
      margin-left: 11rem;
      padding: 7px;
      height: 37%;
    }

   
  }