.banner {
    padding-top: 140px;
    font-size: 70px;
    font-weight: bolder;
  }
  .centeres {
    position: absolute;
    top: 172%;
    left: 45%;
    transform: translate(-40%, -40%);
  }
  
  .centeredd {
    position: absolute;
    top: 78%;
    left: 80%;
    transform: translate(-40%, -40%);
  }
  
  
  @media(max-width:767px) {
    .centeres {
      position: relative;
      left: 40%;
      top: -250px;
    }
  
    .centeredd {
      position: relative;
      top: -58px;
      margin-left: -272px;
      transform: translate(-40%, -40%);
    }
 
    .centeres .centeredd {
      margin-top: 5px;
      margin-left: -20rem;
    }

   
  }