.content-container {
    padding-top: 20px;
    padding-left: 350px;
    padding-right: 350px;
 
    height: 200px;

  }
  .border{
    border-radius: 2%;
  }

  /* .blog {
    position: absolute;
    top: 274%;
    left: 45%;
    transform: translate(-40%, -40%);
  }
   */
  .searchbutton{
    border-radius: 16px;
    margin-left: 536px;
    margin-top: -92px;
  }
  
  .container-fluid .centere {
    position: absolute;
    margin-top: -247px;
    margin-left: 609px;
    margin-right: 161px;
    transform: translate(-40%, -40%);
  }
  
  .centeredd {
    position: absolute;
    top: -24%;
    left: 83%;
    height: 66%;
    transform: translate(-40%, -40%);
  }
  
  .search {
    position: relative;
    margin-left: 73px;
    margin-right: 70px;
  
  }
  
  .search .searchBar {
    height: 51%;
    padding: 33px;
    border-radius: 20px;
  }
  
  @media(max-width:767px) {
    .container-fluid .centere{
      position: relative;
      margin-left: -70px;
      margin-right: 142px;
      margin-top: -281px;
    }
  
    .centeredd {
      position: relative;
      top: -58px;
      left: 50px;
      transform: translate(-40%, -40%);
    }
  
    .container-fluid .centere.centeredd {
      margin-left: -7%;
      margin-top: 20px;
      height: 41px;
    }
  
    
  
  }