.content-container {
    padding-top: 20px;
    padding-left: 350px;
    padding-right: 350px;
 
    height: 200px;

  }
  .border{
    border-radius: 2%;
  }

  .blog {
    position: absolute;
    top: 274%;
    left: 45%;
    transform: translate(-40%, -40%);
  }
  .centereddss{
    position: absolute;
    top: 82%;
    left: 80%;
    transform: translate(-40%, -40%);
  }
  
  .centeredds {
    position: absolute;
    top: 54%;
    left: 65%;
    transform: translate(-40%, -40%);
  }
 
  
  