.banner {
  padding-top: 140px;
  font-size: 70px;
  font-weight: bolder;
}

.centere {
  position: absolute;
  margin-top: -280px;
  margin-left: 20px;
  margin-right: 20px;
  transform: translate(-40%, -40%);
}

.centeredd {
  position: absolute;
  top: 78%;
  left: 80%;
  transform: translate(-40%, -40%);
}


@media(max-width:767px) {
  .centere {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
  }

  .centeredd {
    position: relative;
    top: -58px;
    left: 50px;
    transform: translate(-40%, -40%);
  }

  .centere .centeredd {
    margin-right: 62px;
    margin-left: 28px;
  }


}

/* /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/* @media screen and (min-width: 601px) {
  .banner {
    font-size: 70px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* @media screen and (max-width: 600px) {
  .banner {
    font-size: 30px;
  }
}  */