.banner {
    padding-top: 140px;
    font-size: 70px;
    font-weight: bolder;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .centered {
    position: absolute;
    top: 780%;
    left: 45%;
    transform: translate(-40%, -40%);
  }
  
  .centeredd {
    position: absolute;
    top: 82%;
    left: 80%;
    transform: translate(-40%, -40%);
  }
  /* .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.container {width: 980px !important;} */