.centered {
  position: absolute;
  top: 765%;
  /* top: 172%; */
  left: 45%;
  transform: translate(-40%, -40%);
}

.centeredd {
  position: absolute;
  top: 52%;
  left: 85%;
  transform: translate(-40%, -40%);
}


@media(max-width:767px) {

  .centered {
    position: relative;
    left: 40%;
    top: -250px;
  }

  .centeredd {
    position: relative;
    top: -58px;
    margin-left: -268px;
    transform: translate(-40%, -40%);
  }
  .centered .centeredd {
    margin-top: 5px;
    margin-left: -20rem;
  }
 
}